<!DOCTYPE html>
<html>
  <head>
    <title>Catalan History!</title>   
  </head>

  <body>
    <h1><center>The following database contains history in the Catalan language. You are able to search this database using date and/or a description.</center></h1>

    <form method = "GET" action = "/">
      Type in a date and/or description you would like to search:
      <input type="text" placeholder="date" name="date">
      <input type="text" placeholder="description" name="date">
      <button type="submit" name="Submitted">Submit!</button>
    </form>
  </body>
</html>
